@font-face {
  font-family: Arvo;
  src: url('../fonts/Arvo/Arvo-Regular.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
  font-family: Montserrat, Arvo, serif;
}

p {
  font-family: Montserrat, Arvo, serif;
  text-indent: 3vh;
  text-align: justify;
}

html, body {
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(90, 132, 189); */
  font-size: 3vh;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.left {
  text-align: center;
  width: 30%;
  height: 100%;
  position: fixed !important;
  background-color: rgb(90, 132, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  z-index: 999;
}

.left .leftContent {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left .leftContent .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vh;
  height: 35vh;
}

.left .leftContent .img img {
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  border: white solid 4px;
}

.left .leftContent .name {
  font-size: 3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.left .leftContent .quote {
  font-style: italic;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.left .leftContent .sosmed {
  text-align: center;
}

.left .leftContent .sosmed .contact {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
}

.left .leftContent .sosmed .contact img {
  width: 6vh;
}

.right {
  width: 70%;
  height: 100%;
  float: right;
}

.navbar {
  margin-top: 0px;
  overflow: hidden;
  background-color: #030526 !important;
  text-align: right;
  color: #ffffff;
  padding-top: 5px;
  top: 0;
  right: 0;
  height: 5%;
  width: 100%;
  position: fixed !important;
  top: 0;
  ;
}

.navbar a {
  margin-right: 5vh;
  text-decoration: none;
  color: white;
  font-family: Arvo, serif;
}

.navbar a:hover {
  color: black;
  background-color: white;
}

.title {
  font-size: 4vh;
  font-family: Montserrat, Arvo, serif;
}

.right .content {
  height: 100%;
  bottom: 0;
  padding-left: 5vh;
  padding-right: 2vh;
  font-size: 2.5vh;
}

#about {
  padding-top: 55px;
}

#education {
  padding-top: 55px;
}

#education .class {
  display: flex;
  flex-direction: row;
  font-family: Montserrat, Arvo, serif;
}

#hobby {
  padding-top: 55px;
}

#interest {
  padding-top: 55px;
}

#skill {
  padding-top: 55px;
}

.bottom {
  padding-bottom: 7vh;
}

.footer {
  text-align: center;
  float: left;
  width: 70%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

@media screen and (max-width: 670px) {
  .top {
    z-index: 0;
  }

  .top .leftContent .img {
    width: 150px;
    height: 100px;
  }

  .left .leftContent .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: white solid 4px;
  }

  .top .leftContent .name {
    margin-top: 5vh;
  }

  .left .leftContent . {
    margin-top: 32px;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
  }

  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .left {
    position: relative !important;
  }

  .top {
    display: block;
    height: 50%;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    padding-top: 60px;
  }

  .top .leftContent {
    padding: 0px;
  }
  .bottom {
    width: 100%;
  }

  .bottom .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 7vh;
    padding-top: 6px;
    /* overflow-x: scroll; */
    position: fixed !important;

  }

  .bottom .navbar a {
    margin-right: 2.5vh;
    margin-left: 2.5vh;
  }

  #education .class {
    display: flex;
    flex-direction: column;
  }

  #about {
    padding-top: 12px;
  }

  .footer {
    width: 100%;
  }
}
