
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
  height: 100%;
  font-size: 3vh;
  /* overflow: hidden; */
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52%;
    background-color: rgb(179, 133, 71);

}

.title {
  display: flex;
  justify-content: center;
  font-size: 7vh;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 5vh;
}

.img {
  display: flex;
  justify-content: center;

}

.img img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  display: inline;
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.menu ul li {
  display: inline;
  margin: 0px 5px 0px 5px;;
}

.menu a {
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background-color: rgb(198, 167, 87);
}

#about {
  width: auto;
  height: auto;
  text-align: center;
  background-color: rgb(98, 9, 222);
}
.footer {
  display: flex;
  width: 100%;
  height: 4%;
  justify-content: center;
  background-color: rgb(90, 144, 210);
}
