font-face {
    font-family: Arvo;
    src: url(../fonts/Arvo/Arvo-Regular.ttf);
}

* {
  font-family: Arvo, serif;
}
html, body {
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(90, 132, 189); */
  font-size: 3vh;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.left {
  text-align: center;
  width: 30%;
  height: 100%;
  position: fixed;
  background-color: rgb(90, 132, 189);
  /* float:left; */
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.left .img {
  display: flex;
  justify-content: center;
  width: 35vh;
  height: 35vh;
}

.left .img img {
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
}

.right {
  width: 70%;
  height: 100%;
  float: right;
  
}

.navbar {
  margin-top: 0px;
  overflow: hidden;
  background-color: #030526 !important;
  text-align: right;
  color: #ffffff;
  padding-top: 5px;
  position: fixed;
  top: 0;
  right: 0;
  height: 5%;
  width: 70%;
  ;
}

.navbar a {
  margin-right: 5px;
}

.headerContent {

}

.content {
  /* overflow-y: scroll; */
  margin-top: 40px;
  height: 95%;
  bottom: 0;
}

#about {

}

#contact {

}

#education {

}

#hobby {

}

#skill {

}

.footer {
  text-align: center;
  float: left;
  width: 100%;
}
