@font-face {
  font-family: Arvo;
  src: url('../fonts/Arvo/Arvo-Regular.ttf');
}

* {
  font-family: Arvo, serif;
}

p {
  text-indent: 3vh;
  text-align: justify;
}

html, body {
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(90, 132, 189); */
  font-size: 3vh;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.left {
  text-align: center;
  width: 30%;
  height: 100%;
  position: fixed !important;
  background-color: rgb(90, 132, 189);
  /* float:left; */
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left .img {
  display: flex;
  justify-content: center;
  width: 35vh;
  height: 35vh;
}

.left .img img {
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
}

.left .name {
  font-size: 3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.left .interes {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.left .interes p {
  text-indent: 2vh;
  text-align: justify;
}

.left .quote {
  font-style: italic;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.left .sosmed {
  text-align: center;
}

.left .sosmed .contact {
  margin-top: 1vh;
}

.left .sosmed .contact img {
  width: 6vh;
}

.right {
  width: 70%;
  height: 100%;
  float: right;
}

.navbar {
  margin-top: 0px;
  overflow: hidden;
  background-color: #030526 !important;
  text-align: right;
  color: #ffffff;
  padding-top: 5px;
  position: fixed;
  top: 0;
  right: 0;
  height: 5%;
  width: 70%;
  ;
}

.navbar a {
  margin-right: 5vh;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: black;
  background-color: white;
}

.title {
  font-size: 4vh;
}

.content {
  height: 100%;
  bottom: 0;
  padding-left: 5vh;
  padding-right: 2vh;
  font-size: 2.5vh;
}

#about {
  padding-top: 50px;
}

#education {
  padding-top: 50px;
}

#hobby {
  padding-top: 50px;
}

#skill {
  padding-top: 50px;
}

.bottom {
  padding-bottom: 7vh;
}

.footer {
  text-align: center;
  float: left;
  width: 70%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

@media screen and (max-width: 655px;) {
  .bottom .img {
    width: 150px;
    height: 150px;
  }

  .bottom .img img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .top {
    display: none;
    background-color: #ffffff;
  }

  .bottom {
    width: 100%;
  }

  .bottom .navbar {
    width: 100%;
    text-align:  center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
  }

  .footer {
    width: 100%;
  }
}
