@font-face {
    font-family: Arvo;
    src: url(../fonts/Arvo/Arvo-Regular.ttf);
}

* {
  font-family: Arvo, serif;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  background-color: rgb(90, 132, 189);
  font-size: 3vh;
}

a {
  cursor: pointer;
}

.active {
  color: red;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.header {
  text-align: center;
}

.title {
  font-size: 5vh;
}

.img {
  text-align: center;
}

.img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name {
  font-size: 4vh;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu ul {
  display: inline;
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.menu ul li {
  display: inline;
  margin: 0px 5px 0px 5px;
  ;
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  overflow: auto;
  height: 45vh;
}

#about {
  width: 100%;
}

#about p {
  text-indent: 5px;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#contact ul {
  width: 150px;
}

#contact ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#contact ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #9e3106;
}

#contact ul li img {
  width: 40px;
  height: 40px;
}

#education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}

#education .formal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10px;
}

#education .formal ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#education .nonFormal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

#hobby {
  display: flex;
  align-items: flex-start;
}

#hobby ul {
  margin: 0px;
}
.footer {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

@media screen and (max-width: 425px) {
  .menu {
    flex-wrap: nowrap;
  }
  #contact ul li img {
    width: 50px;
    height: 50px;
  }

  #education {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #education .formal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
  }

  #education .nonFormal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
  }

  #education ol {
    margin-top: 3px;
  }
}

@media screen and (max-width: 312px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu {
    width: 184px;
  }

  #contact {
    flex-direction: column;
  }
  #contact ul {
    padding: 0px;
  }
  #contact ul li img {
    width: 30px;
    height: 30px;
  }
}
